html, body{
    height: 100%;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.main{
    width: 100%;
    height: 100%;
    position: absolute;
   
    background: linear-gradient(to right, rgb(12, 64, 236), rgb(36, 238, 238));
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
#logo1{
     width: 140px;
     flex-basis: 20%;
}
#welc{
    text-align: center;
    color: black;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
}